
.table-container {
    overflow-x: scroll;
    overflow-y: scroll;
    height: 65vh;
    width: 92vw;
}

.filter-container {
    width: 92vw;
}

.table-head {
    background-color: #aebfbe;
    color: white;
}

.delete-button {
    float: right;
}