@{
    ViewBag.Title = "Home Page";
}

<div>
    <h3>Всякая скотина</h3>
    <table>
        <tr>
            <td><p>ID </p></td>
            <td><p>sex </p></td>
            <td><p>type </p></td>
            <td><p>bitrhday </p></td>
            <td><p>id_mark </p></td>
            <td><p>sex </p></td>
            <td><p>sex </p></td>
            <td><p>sex </p></td>
            <td><p>sex </p></td>
        </tr>
        @foreach(var b in (new PIS_Project.Controllers.DataControllers.RegisterController()).GetCards())
        {
        <tr>
            @foreach (var val in b.Value.Values)
            {
                <td><p>@val  </p></td>
            }
        </tr>
        }
    </table>
</div>
