@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Добро пожаловать!</h1>
    <p class="lead">Реестр учета животных без владельца.</p>
</div>
@{
    //File.WriteAllBytes(@"C:\doc13.docx", PIS_Project.Models.DataClasses.ReportTemplate.GetRegularTemp(new int[] { 1, 2, 3, 4 }, 2));
}
